<div class="container">
  <!--
    <button>
        <a [routerLink]="['/ticket']" class="btn btn-default btn-lg">All Tickets</a>
      </button>
      <button>
          <a [routerLink]="['/ticket-create']" class="btn btn-default btn-lg">Add Tickets</a>
        </button>
      <button>
        <a [routerLink]="['/home']">Home</a>
      </button>
  -->    
  <h1>Ticket List </h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Assigned to</th>
        <th>Subject</th>
        <th>State</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.name }}</td>
        <td>{{ ticket.assigned_to }}</td>
        <td>{{ ticket.subject }}</td>
        <td>{{ ticket.state }}</td>
        <td><a [routerLink]="['/ticket-detail', ticket.id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>